@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #1E40AF;
  --color-accent: #F59E0B;
  --color-dark: #111827;
  --color-light: #F3F4F6;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2563EB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1E40AF;
}
